* {
	box-sizing: border-box;
}

body {
	background-color: bisque;
}

<<<<<<< HEAD
.navbar a {
	font-weight: normal !important;
	color: white !important;
}
.formEdit,
.formLogin,
.formRegisteration {
	margin-top: 20px;
=======
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li span {
	display: block;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.formRegisteration {
	margin-top: 30px;
>>>>>>> fe74960382a2a7d5bb60009cf4b539e865202ec9
}

.container {
	padding: 10px;
	background-color: white;
	width: 50%;
	margin: auto;
<<<<<<< HEAD
	border: 3px solid rgb(235, 239, 250);
}

/* input[type='text'],
=======
}

input[type='text'],
>>>>>>> fe74960382a2a7d5bb60009cf4b539e865202ec9
input[type='email'],
input[type='number'],
input[type='password'] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 5px 0;
<<<<<<< HEAD
} */
=======
}
>>>>>>> fe74960382a2a7d5bb60009cf4b539e865202ec9

hr {
	border: 1px solid black;
	margin-bottom: 25px;
}
<<<<<<< HEAD
#editBtn,
#loginBtn,
#registerbtn {
	background-color: rgb(11, 88, 139);
	color: white;
	padding: 10px 20px;
=======

#registerbtn {
	background-color: rgb(11, 88, 139);
	color: white;
	padding: 16px 26px;
>>>>>>> fe74960382a2a7d5bb60009cf4b539e865202ec9
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
